*.pdf
*.ps
*.xml
blob_storage
webrtc_event_logs
*/*.txt
*/*/*.txt
*/*/*.zip
*/*/*/*.txt
*.pyc
*~
dossier/
ds/
cp/
o/
misc/
config/
*.pak
PDFParser.egg-info/
dossier/*
ds/*
*/build
build/
MANIFEST
dist/
